<div class="card rounded shadow-sm">
    <form>
      <div class="p-3">
        <div class="row g-3">
          <div class="col-12">
            <h3 class="border-bottom pb-2">Detalhes do Evento</h3>
          </div>
          <div class="col-12">
            <label for="tema" class="form-label">Tema</label>
            <input type="text" class="form-control" id="tema" placeholder="Insira o Tema">
          </div>
          <div class="col-12 col-md-8">
            <label for="local" class="form-label">Local</label>
            <input type="text" class="form-control" id="local" placeholder="Informe o local">
          </div>
          <div class="col-12 col-md-4">
            <label for="dataHora" class="form-label">Data e Hora</label>
            <input type="datetime-local" class="form-control" id="dataHora">
          </div>
          <div class="col-12 col-md-2">
            <label for="qtdPessoas" class="form-label">Qtd Pessoas</label>
            <input type="number" class="form-control" id="qtdPessoas" min="1">
          </div>
          <div class="col-12 col-md-4">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="telefone" placeholder="(000) 90000-0000">
          </div>
          <div class="col-12 col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="seuemail@email.com">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between p-3 border-top">
        <button type="button" class="btn btn-outline-secondary border">
          Cancelar Alteração
        </button>
        <button type="submit" class="btn btn-success">
          Salvar Evento
        </button>
      </div>
    </form>
  </div>
  