<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

        <form class="p-1">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">Cadastro de Usuário</h3>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="firstName" class="form-label">Primeiro Nome</label>
                    <input type="text" id="firstName" class="form-control" placeholder="Insira o Primeiro nome">
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="lastName" class="form-label">Último Nome</label>
                    <input type="text" id="lastName" class="form-control" placeholder="Insira o Último nome">
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input id="email" class="form-control" type="email" placeholder="Insira o Email">
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Usuário:</label>
                <input id="username" class="form-control" type="text" placeholder="Insira o nome de Usuário">
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="password" class="form-label">Senha:</label>
                    <input id="password" class="form-control" type="password" placeholder="Digite uma Senha">
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar Senha:</label>
                    <input id="confirmPassword" class="form-control" type="password" placeholder="Confirme a Senha">
                </div>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="termsCheck">
                <label class="form-check-label" for="termsCheck">
                    Eu concordo com os <a href="#">Termos de Uso</a>.
                </label>
            </div>

            <div class="mb-3">
                <button class="btn btn-lg btn-success w-100">Registrar</button>
            </div>

            <div class="text-center">
                <a href="user/login" class="btn btn-link">Já sou Cadastrado</a>
            </div>
        </form>

	</div>
</div>